*.o
*.a
*.exe
*.so
*.so.*
*.d
*.tmp
*.pyc
core

# fftw build artifacts
fftw/fftw-3.3.6-pl2/.libs/
fftw/fftw-3.3.6-pl2/*/.libs/
fftw/fftw-3.3.6-pl2/tools/fftw-wisdom
fftw/fftw-3.3.6-pl2/tests/bench
# 1D test binary
Hydro1DExam/laguerre_sod
# binaries in subdirs
OST/test
RkS/exe
RkS/exegdb
RkS/t
RkS/tmp
RkS/tmp2
Voro/Laguerre/example_cpu
Voro/Laguerre/example_cuda
Voro/Voro++/exe.test
Voro/Voro++/test
Exam/SodShock/a.out
Exam/SodShock/anal
Exam/SodShock/sod
Exam/Kepler/OrbitTest/run
Exam/Kepler/OrbitTest/run2
Exam/Kepler/OrbitTest/run3
Exam/Kepler/OrbitTest/run4
Exam/Kepler/OrbitTest/run5
